div {
  border: 1px solid grey;
  /* margin: 5px; */
  padding: 5px;
}

#floorplan {  
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1.0fr 0.7fr 0.7fr;
  grid-template-rows: 1.5fr 0.4fr 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Bedroom-1 Living-Room Living-Room Kitchen Kitchen Kitchen"
    "Full-Bath Living-Room Living-Room Kitchen Kitchen Kitchen"
    "Full-Bath Living-Room Living-Room Kitchen Kitchen Kitchen"
    "Bedroom-2 Half-Bath Bedroom-3 Bedroom-3 Bedroom-3 Bedroom-3";
}

.bedroom {
  background-color: lightblue;
}

.bath {
  background-color: lightgreen;
}

#bed-1 { 
  grid-area: Bedroom-1; 
}

#Full-bath { 
  grid-area: Full-Bath; 
}

#bed-2 { 
  grid-area: Bedroom-2; 
}

#Half-bath { 
  grid-area: Half-Bath; 
}

#bed-3 { 
  grid-area: Bedroom-3; 
}

#living-room { 
  background-color: lightsalmon;
  grid-area: Living-Room; 
}

#kitchen { 
  display: grid;
  background-color: lightcoral;
  grid-area: Kitchen; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.8fr 0.8fr; 
  grid-template-rows: 0.5fr 1.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "oven sink"
    "kitchen kitchen"; 
}

#oven { 
  background-color: aqua;
  grid-area: oven; 
  align-self: flex-start;
}

#sink { 
  background-color: lightpink;
  grid-area: sink; 
  align-self: flex-start; 
}

